<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <style>
    {% include 'commerce/style.css' %}
    table.heading td{
        vertical-align: top;
    }
    </style>
</head>

<body>

{% set iso = 'GBP' %}
{% for item in order.lineItems %}
    {% if loop.first %}
        {% set product = craft.commerce.products.hasVariant({ sku: item.getSku() }).first() %}
        {% if product.relatedCities[0].currencyIsoCode|length > 0 %}
            {% set iso = product.relatedCities[0].currencyIsoCode %}
        {% endif %}
    {% endif %}
{% endfor %}
{% set orderTable %}
    <div class="row">
        <div class="twelve columns">
            <table class="u-full-width heading">
                <tr>
                    <td>
                        <h5>Details</h5>
                        <ul>
                            <li><strong>{{ "Customer"|t }}:</strong> {{ order.customer.email }}</li>
                            <li><strong>{{ "Total"|t }}:</strong> {{ order.totalPrice|commerceCurrency(iso, convert=false) }}</li>
                            <li><strong>{{ "Paid"|t }}:</strong> {{ order.totalPaid|commerceCurrency(iso, convert=false) }} {{ order.datePaid|date('D dS M Y') }}</li>
                            <li><strong>{{ "Date"|t }}:</strong> {{ order.dateOrdered }}</li>
                        </ul>
                    </td>
                    <td>
                        <h5>Address</h5>
                        {% if order.shippingAddress %}
                        {% include 'commerce/_includes/addresses/address' with { address: order.shippingAddress } %}
                        {% endif %}
                    </td>
                    <td>
                        <h5>Billing Address</h5>
                        {% if order.billingAddress %}
                        {% include 'commerce/_includes/addresses/address' with { address: order.billingAddress } %}
                        {% endif %}
                    </td>
                </tr>
            </table>
            <table class="u-full-width">
                <thead>
                <tr>
                    <th>Item</th>
                    <th>Unit Price</th>
                    <th>Quantity</th>
                    <th class="text-right">Total</th>
                </tr>
                </thead>
                <tbody>
                {% for item in order.lineItems %}
                    <tr>
                        <td valign="top">
                            <strong>{{ item.description }}</strong><br>
                            SKU: {{ item.sku }}
                        </td>
                        <td>
                            {% if item.onSale %}
                                <strike>{{ item.price|commerceCurrency(iso, convert=false) }}</strike>   {{ item.salePrice|commerceCurrency(iso, convert=false) }}
                            {% else %}
                                {{ item.price|commerceCurrency(iso, convert=false) }}
                            {% endif %}
                        </td>
                        <td>{{ item.qty }}</td>
                        <td class="text-right">{{ item.total|commerceCurrency(iso, convert=false) }}</td>
                    </tr>
                {% endfor %}

                {% for adjustment in order.adjustments %}
                    <tr>
                        <td>{{ adjustment.type }}</td>
                        <td colspan="2"><strong>{{ adjustment.name }}</strong><br>({{ adjustment.description }})</td>
                        <td class="text-right">{{ adjustment.amount|commerceCurrency(iso, convert=false) }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="4" class="text-right">
                        Item Total: {{ order.itemTotal|commerceCurrency(iso, convert=false) }}<br>
                        Base Discount: {{ order.baseDiscount|commerceCurrency(iso, convert=false) }}<br>
                        Base Shipping Rate: {{ order.baseShippingCost|commerceCurrency(iso, convert=false) }}<br>
                        <h4>Total: {{ order.totalPrice|commerceCurrency(iso, convert=false) }}</h4>
                    </td>
                </tr>

                </tbody>
            </table>

        </div>
    </div>
{% endset %}

{# Use the option param passed into the pdf template to show different order pdf's depending on the context #}
{% switch option %}
{% case "receipt" %}
    <div class="logo">
        {# <img src="{{ siteUrl }}{{ logos.companyLogo.first().url }}" alt="Square Mile Relay"> #}
    </div>
    <h1>Receipt for Order #{{ order.number[:7] }}</h1>
    {{ orderTable }}
{% case "ajax" %}
    <h1>NA</h1>
{% default %}
    <h1>Order #{{ order.number[:7] }}</h1>
    {{ orderTable }}
{% endswitch %}


</body>
</html>
