<section id="ctaBanner" class="cta-banner">
    {{ ctaBanner.ctaBannerText }}
    <a href="#" class="btn btn-black enter-race-modal" type="button" data-toggle="modal" data-target="#enterRace">{{ ctaBanner.ctaBannerButton }}</a>
</section>