<div class="loading-icon">
    <div class="svg-wrapper">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 612 792" enable-background="new 0 0 612 792" xml:space="preserve">
            <polyline class="line-4" fill="none" stroke="#F16F3C" stroke-width="40" stroke-linecap="square" stroke-miterlimit="10" points="591.3,390
            591.3,640 20.7,640 20.7,94 20.7,84 591.3,84 591.3,337 "/>
            <polyline class="line-3" fill="none" stroke="#F16F3C" stroke-width="40" stroke-linecap="square" stroke-miterlimit="10" points="591.3,390
            591.3,640 20.7,640 20.7,94 20.7,84 591.3,84 591.3,337 "/>
            <polyline class="line-2" fill="none" stroke="#F16F3C" stroke-width="40" stroke-linecap="square" stroke-miterlimit="10" points="591.3,390
            591.3,640 20.7,640 20.7,94 20.7,84 591.3,84 591.3,337 "/>
            <polyline class="line-1" fill="none" stroke="#F16F3C" stroke-width="40" stroke-linecap="square" stroke-miterlimit="10" points="591.3,390
            591.3,640 20.7,640 20.7,94 20.7,84 591.3,84 591.3,337 "/>
        </svg>
    </div>
    <p class="loaading">{{ 'Loading ...'|t }}</p>
</div>