.results-table {
    position: relative;
    margin-bottom: 200px;
    .tab {
        width: calc(50% - 40px);
    }
    .load-more {
        bottom: -100px;
    }
}

@include tablet-l {
    .results-table {
        .tab {
            width: calc(50% - 20px);
        }
    }
}
