//global-gallery class, section underneath filter dropdown
.global-gallery {
    position: relative;
    float: left;
    margin-bottom: 200px;
    width: 100%;
    .load-more {
        bottom: -120px;
    }
    .gallery-grid {
        margin: 7.5px;
        width: calc(100% - 15px);
        h2 {
            font-size: 26px;
            font-weight: 800;
        }
        .stamp {
            position: absolute;
            top: 0;
            left: 0;
            width: 25%;
        }
        .grid-item,
        .vid-item {
            cursor: pointer;
            padding: 7.5px;
            width: 25%;
            img {
                transition: all .2s ease-in;
                width: 100%;
                height: auto;
            }
            .caption {
                position: absolute;
                right: 20px;
                bottom: 5px;
                left: 20px;
                transition: all .2s ease-in;
                border-radius: 3px;
                background: $black;
                padding: 5px;
                width: calc(100% - 40px);
                text-align: center;
                color: $white;
                font-size: 13px;
                &:empty {
                    display: none;
                }
            }
            .play-video {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) scale(.9);
                .play-btn {
                    position: relative;
                    float: left;
                    border: 7px solid $white;
                    border-radius: 100%;
                    width: 92px;
                    height: 92px;
                    i {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        margin-left: 3px;
                        color: $white;
                        font-size: 33px;
                    }
                }
            }
            &:hover {
                img {
                    transform: scale(.9);
                    transition: all .2s ease-in;
                }
                .caption {
                    transition: all .2s ease-in;
                    opacity: 0;
                }
            }
        }
        .vid-item {
            position: relative;
            width: 100%;
        }
    }
}

@include tablet-l {
    .global-gallery {
        float: none;
        width: 100%;
        .gallery-grid {
            .grid-item,
            .stamp {
                width: 33.33%;
            }
        }
    }
}

@include phone {
    .global-gallery {
        float: none;
        width: 100%;
        .gallery-grid {
            .grid-item,
            .stamp {
                width: 50%;
            }
        }
    }
}
