{% requireLogin %}

{% set entry = craft.entries.section(craft.request.firstSegment).first() %}

{% extends "_layout" %}

{% block content %}

    {% if currentUser.firstName|length %}
        {% set pageHeading = 'Ready to race, '|t ~ currentUser.firstName|t ~ '?' %}
    {% else %}
        {% set pageHeading = 'Ready to race?'|t %}
    {% endif %}

    {% set image = entry.backgroundImage.first() %}
    <section class="main-heading" style="background-image: url('{{ image.url }}');">
        <div class="wrapper-thin">
            <div class="title">
                <h1>{{ 'My Account'|t }}</h1>
                <h2>{{ pageHeading }}</h2>
            </div>
        </div>
    </section>

    {% block subContent %}{% endblock %}

{% endblock %}
