
    
        


                                    
    


            
                    
                                                                    
            <tr class="result-item grid-item 2016 london london-2016">
                <td><strong>1</strong></td>
                <td><strong>1</strong></td>
                <td>
                                                                                                        <strong>Barclays</strong>
                </td>
                <td>
                                            <strong>00:53:05</strong>
                                    </td>
                <td>London</td>
                <td>2016</td>
            </tr>
        
                    
                                                                    
            <tr class="result-item grid-item 2016 dubai dubai-2016">
                <td><strong>2</strong></td>
                <td><strong>1</strong></td>
                <td>
                                                                                                        <strong>RPM</strong>
                </td>
                <td>
                                            <strong>00:53:31</strong>
                                    </td>
                <td>Dubai</td>
                <td>2016</td>
            </tr>
        
                    
                                                                    
            <tr class="result-item grid-item 2017 sydney sydney-2017">
                <td><strong>3</strong></td>
                <td><strong>1</strong></td>
                <td>
                                                                                                        <strong>Macquarie</strong>
                </td>
                <td>
                                            <strong>00:53:38</strong>
                                    </td>
                <td>Sydney</td>
                <td>2017</td>
            </tr>
        
                    
                                                                    
            <tr class="result-item grid-item 2016 singapore singapore-2016">
                <td><strong>4</strong></td>
                <td><strong>1</strong></td>
                <td>
                                                                                                        <strong>Macquarie</strong>
                </td>
                <td>
                                            <strong>00:54:04</strong>
                                    </td>
                <td>Singapore</td>
                <td>2016</td>
            </tr>
        
                    
                                                                    
            <tr class="result-item grid-item 2016 dubai dubai-2016">
                <td><strong>5</strong></td>
                <td><strong>2</strong></td>
                <td>
                                                                                                        <strong>GO FAST! Dubai LLC / Jiwin Investment</strong>
                </td>
                <td>
                                            <strong>00:54:11</strong>
                                    </td>
                <td>Dubai</td>
                <td>2016</td>
            </tr>
        
                    
                                                                    
            <tr class="result-item grid-item 2016 london london-2016">
                <td><strong>6</strong></td>
                <td><strong>2</strong></td>
                <td>
                                                                                                        <strong>J.P.Morgan</strong>
                </td>
                <td>
                                            <strong>00:54:31</strong>
                                    </td>
                <td>London</td>
                <td>2016</td>
            </tr>
        
                    
                                                                    
            <tr class="result-item grid-item 2017 sydney sydney-2017">
                <td><strong>7</strong></td>
                <td><strong>2</strong></td>
                <td>
                                                                                                        <strong>J.P. Morgan 2</strong>
                </td>
                <td>
                                            <strong>00:55:04</strong>
                                    </td>
                <td>Sydney</td>
                <td>2017</td>
            </tr>
        
                    
                                                                    
            <tr class="result-item grid-item 2017 new-york new-york-2017">
                <td><strong>8</strong></td>
                <td><strong>1</strong></td>
                <td>
                                                                                                        <strong>Wells Fargo Team B</strong>
                </td>
                <td>
                                            <strong>00:55:06</strong>
                                    </td>
                <td>New York</td>
                <td>2017</td>
            </tr>
        
                    
                                                                    
            <tr class="result-item grid-item 2017 new-york new-york-2017">
                <td><strong>9</strong></td>
                <td><strong>2</strong></td>
                <td>
                                                                                                        <strong>Barclays Credit</strong>
                </td>
                <td>
                                            <strong>00:55:16</strong>
                                    </td>
                <td>New York</td>
                <td>2017</td>
            </tr>
        
                    
                                                                    
            <tr class="result-item grid-item 2016 singapore singapore-2016">
                <td><strong>10</strong></td>
                <td><strong>2</strong></td>
                <td>
                                                                                                        <strong>SAXO CAPITAL MARKETS</strong>
                </td>
                <td>
                                            <strong>00:55:42</strong>
                                    </td>
                <td>Singapore</td>
                <td>2016</td>
            </tr>
        
                    
                                                                    
            <tr class="result-item grid-item 2016 london london-2016">
                <td><strong>11</strong></td>
                <td><strong>3</strong></td>
                <td>
                                                                                                        <strong>Credit Suisse</strong>
                </td>
                <td>
                                            <strong>00:55:46</strong>
                                    </td>
                <td>London</td>
                <td>2016</td>
            </tr>
        
                    
                                                                    
            <tr class="result-item grid-item 2016 hong-kong hong-kong-2016">
                <td><strong>12</strong></td>
                <td><strong>1</strong></td>
                <td>
                                                                                                        <strong>ESF Elite Team</strong>
                </td>
                <td>
                                            <strong>00:55:57</strong>
                                    </td>
                <td>Hong Kong</td>
                <td>2016</td>
            </tr>
        
                    
                                                                    
            <tr class="result-item grid-item 2016 hong-kong hong-kong-2016">
                <td><strong>13</strong></td>
                <td><strong>2</strong></td>
                <td>
                                                                                                        <strong>Macquarie Group</strong>
                </td>
                <td>
                                            <strong>00:56:10</strong>
                                    </td>
                <td>Hong Kong</td>
                <td>2016</td>
            </tr>
        
                    
                                                                    
            <tr class="result-item grid-item 2016 london london-2016">
                <td><strong>14</strong></td>
                <td><strong>4</strong></td>
                <td>
                                                                                                        <strong>Bloomberg 1</strong>
                </td>
                <td>
                                            <strong>00:56:14</strong>
                                    </td>
                <td>London</td>
                <td>2016</td>
            </tr>
        
                    
                                                                    
            <tr class="result-item grid-item 2016 london london-2016">
                <td><strong>15</strong></td>
                <td><strong>5</strong></td>
                <td>
                                                                                                        <strong>Bank of America Merrill Lynch 1</strong>
                </td>
                <td>
                                            <strong>00:56:14</strong>
                                    </td>
                <td>London</td>
                <td>2016</td>
            </tr>
        
                    
                                                                    
            <tr class="result-item grid-item 2017 sydney sydney-2017">
                <td><strong>16</strong></td>
                <td><strong>3</strong></td>
                <td>
                                                                                                        <strong>Virgin Active 1</strong>
                </td>
                <td>
                                            <strong>00:56:15</strong>
                                    </td>
                <td>Sydney</td>
                <td>2017</td>
            </tr>
        
                    
                                                                    
            <tr class="result-item grid-item 2016 london london-2016">
                <td><strong>17</strong></td>
                <td><strong>6</strong></td>
                <td>
                                                                                                        <strong>Trayport 1</strong>
                </td>
                <td>
                                            <strong>00:56:19</strong>
                                    </td>
                <td>London</td>
                <td>2016</td>
            </tr>
        
                    
                                                                    
            <tr class="result-item grid-item 2016 singapore singapore-2016">
                <td><strong>18</strong></td>
                <td><strong>3</strong></td>
                <td>
                                                                                                        <strong>Standard Chartered Bank 2</strong>
                </td>
                <td>
                                            <strong>00:56:31</strong>
                                    </td>
                <td>Singapore</td>
                <td>2016</td>
            </tr>
        
                    
                                                                    
            <tr class="result-item grid-item 2017 new-york new-york-2017">
                <td><strong>19</strong></td>
                <td><strong>3</strong></td>
                <td>
                                                                                                        <strong>Highly Reflective T-Shirts</strong>
                </td>
                <td>
                                            <strong>00:56:49</strong>
                                    </td>
                <td>New York</td>
                <td>2017</td>
            </tr>
        
                    
                                                                    
            <tr class="result-item grid-item 2016 london london-2016">
                <td><strong>20</strong></td>
                <td><strong>7</strong></td>
                <td>
                                                                                                        <strong>Slaughter and May</strong>
                </td>
                <td>
                                            <strong>00:56:58</strong>
                                    </td>
                <td>London</td>
                <td>2016</td>
            </tr>
    


    
