{#
 # News entry template
 # -------------------
 #
 # This template gets loaded whenever a News entry’s URL is
 # requested. That’s because the News section’s Template setting is
 # set to “news/_entry”, the path to this template.
 #
 # When this template is loaded, it will already have an ‘entry’
 # variable, set to the requested News entry.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}

{% cache %}
{% set logo = entry.companyLogo.first() %}
<section class="single-company-heading">
    <div class="wrapper-thin">
        <div class="title">
            <h1>{{ entry.title }}</h1>
            <img src={{ siteUrl }}/{{ logo.getUrl('newsThumb') }} alt={{ entry.title }}>
        </div>
    </div>
</section>

<section class="single-charity">
    <div class="wrapper-thin">
        <div class="row">
            {% set coverImage = entry.coverImage.first() %}
            <div class="col-md-4">
                {% if coverImage|length %}
                <img src="{{ siteUrl }}{{ coverImage.url }}" alt="{{ entry.title }}">
                {% endif %}
            </div>
            <div class="col-md-8">
                {{ entry.bodyContent }}
                <br>
                <a href="{{ entry.externalUrl }}" target="_blank" class="btn btn-orange">{{ 'Visit the website'|t }}</a>
            </div>
        </div>
    </div>
</section>
{% endcache %}

{% endblock %}
