.footer {
    position: relative;
    clear: both;
    background-color: $black;
    padding: 15px 0;
    z-index: 999;
    h4 {
        margin-bottom: 30px;
        text-transform: uppercase;
        word-spacing: 1px;
        letter-spacing: 1px;
        color: $white;
        font-size: 14px;
        font-weight: 700;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            margin-bottom: 5px;
            a {
                text-decoration: none;
                color: $lightgrey;
                font-size: 18px;
                font-weight: 100;
                i {
                    margin-right: 10px;
                    width: 20px;
                    color: $orange;
                }
                &:hover {
                    color: #fff;
                }
            }
        }
    }
    form {
        margin-bottom: 30px;
        label {
            display: inline-block;
            transition: all ease-in .2s;
            margin-right: 10px;
            text-align: left;
            text-transform: uppercase;
            color: $white;
            font-size: 12px;
            font-weight: 200;
        }
        input {
            appearance: none;
            border: 0;
            border-radius: 3px;
            background-color: rgba(255,255,255,.2);
            padding: 5px 10px;
            width: 100%;
            color: $white;
            &.invalid {
                opacity: 1;
                pointer-events: all;
            }
        }
        input[type="checkbox"] {
            display: none;
            & + label {
                cursor: pointer;
                text-transform: none;
                color: $lightgrey;
                font-size: 14px;
                &:hover {
                    color: #fff;
                }
            }
            &:checked + label {
                transition: all ease-in .2s;
                color: $orange;
            }
        }
        button {
            appearance: none;
            border: 0;
            border-radius: 20px;
            background: $orange;
            padding: 5px 20px;
            text-transform: uppercase;
            color: $white;
        }
    }
}

@include desktop {
    .footer {
        h4 {
            font-size: 12px;
        }
        ul {
            li {
                a {
                    font-size: 16px;
                }
            }
        }
    }
}

@include tablet-l {
    h4 {
        margin-top: 40px;
    }
}
@media(max-width:991px) {
    .footer .col-xs-12 {
        clear: both;
    }
}
@media(max-width:400px) {
    .footer .row div {
        h4 {
            margin: 25px 0 20px;
        }
        ul {
            li {
                a {
                    font-size: 12px;
                }
            }
        } 
    }
}

.outstanding-forms {
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    background: $orange;
    padding:30px 15px;
    text-align: center;
    z-index:999;
    margin:0;
    border-radius: 0;
    p {
        font-size:20px;
        color: #fff;
        margin:0;
        line-height:150%;
        @include phone {
            font-size:14px;
            .btn {
                font-size:12px;
            }
        }
    }
    span {
        position: absolute;
        top:10px;
        right:20px;
        z-index:1;
        font-size:20px;
        line-height:100%;
        color: #fff;
        cursor: pointer;
        transition: color 0.3s linear;
        &:hover {
            color: #000;
        }
    }
}