{% extends 'commerce/_layouts/main' %}

{% set number = craft.request.param('number') %}
{% set order = craft.commerce.orders.number(number).first() %}

{% if not order %}
    {% redirect 'commerce/customer' %}
{% endif %}

{% block main %}

    <div class="row thank-you text-center">
        <h2>{{ 'Thank You!'|t }}</h2>
        <p>{{ 'Thank you for placing your order. A member of our team will be in touch shortly.'|t }}</p>
        <div data-href="{{ siteUrl }}account/profile" class="btn btn-orange send-to-my-account">{{ 'My Account'|t }}</div>
    </div>
{% endblock %}
