{#
 # News index template
 # -------------------
 #
 # This template is loaded whenever http://example.com/news is
 # requested, because it is located at news/index.html in your
 # craft/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}
{% if craft.request.isAjax %}
    {% set layout = "_ajaxLayout" %}
{% else %}
    {% set layout = "_layout" %}
{% endif %}

{% extends layout %}

{% block content %}

    {% if craft.request.isAjax %}

        {% include "_includes/loops/_news-loop" %}

    {% else %}

        {% include "_includes/_page-header" %}
        {% include "_includes/_cta-banner" %}

        <section class="faqs">
            <div class="wrapper-thin">
                <div class="row faq">
                    <div class="col-md-12">
                        {{ entry.bodyContent }}
                    </div>
                </div>
            </div>
        </section>

    {% endif %}

{% endblock %}
